{% load static %}
<footer class="p-4 bg-white sm:p-6 hidden sm:block">
    <div class="grid gap-8 md:flex md:justify-between">
        <div class="mb-6 md:mb-0">
            <a href="{% url 'HomePage' %}" class="flex items-center">
                <img src="{% static '/Images/BetterBuyLogo_2.png' %}" alt="BetterBuyLogo" class="w-[10rem]">
            </a>
        </div>
        <div class="grid gap-8 sm:gap-6 sm:grid-cols-3">
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Resources</h2>
                <ul class="text-gray-600 grid gap-4">
                    <li class=""><a class="hover:underline">Careers</a></li>
                    <li><a class="hover:underline">Help Centre</a></li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">About</h2>
                <ul class="text-gray-600 grid gap-4">
                    <li class=""><a class="hover:underline ">About Us</a></li>
                    <li><a class="hover:underline">FAQ's</a></li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Legal</h2>
                <ul class="text-gray-600 grid gap-4">
                    <li class=""><a class="hover:underline">Privacy Policy</a></li>
                    <li><a class="hover:underline">Terms and Conditions</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
        <span class="text-sm text-gray-500 sm:text-center">© 2023 <a href="https://github.com/animeshnim" class="hover:underline">Animesh Nim<a>. All Rights Reserved.</span>
        <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
            <a class="text-gray-500 hover:text-gray-900">
                <i class="lab la-facebook text-4xl"></i>
            </a>
            <a class="text-gray-500 hover:text-gray-900">
                <i class="lab la-instagram text-4xl"></i>
            </a>
            <a class="text-gray-500 hover:text-gray-900">
                <i class="lab la-twitter text-4xl"></i>
            </a>
        </div>
    </div>
</footer>