<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tag -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <!-- Static Files -->
    {% load static %}


    <!-- CSS -->
    <!-- Line Awesome Icons -->
    <link rel="stylesheet" href="{% static 'CSS/LineAwesomeIcons/css/line-awesome.css' %}" />
    
    <!-- Tailwind Output CSS -->
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}" />

    <!-- Components CSS File -->
    <link rel="stylesheet" href="{% static 'CSS/components.css' %}" />


    <!-- Page Specific CSS -->
    {% block CSS %}  {% endblock %}
    <!-- End of Page Specific CSS -->



    <!-- Page Title -->
    <title>
        {% block title %}{% endblock %}
    </title>
</head>

<body class="min-h-screen bg-slate-100">
    <!-- Navigation Section -->
    {% block navigation-bar %}  {% endblock %}
    <!-- End of Navigation Section -->



    <!-- Page Content -->
    {% block body %}  {% endblock %}
    <!-- End of Page Content -->

    

    <!-- Footer Section -->
    {% block footer %}  {% endblock %}
    <!-- End of Footer Section -->
</body>



<!-- Inpage Script -->
<script>
    {% block script %}  {% endblock %}
</script>
<!-- End of Inpage Script -->

<!-- Components Script -->
<script src="{% static 'components.js' %}"></script>
<!-- End of Components Script -->

</html>