{% extends "Base/BaseForAccountRelatedForms.html" %}



<!-- Page Title -->
{% block title %} Login Page | BetterBuy {% endblock %}
<!-- End of Page Title -->


{% block heading %}Forgot Password? Don't Worry{% endblock %}


<!-- Form Block -->
{% block form-body %}
<form action="{% url 'forgot_password_request' %}" method="post" class="flex flex-col gap-2">{% csrf_token %}
    <div>
        <label for="email" class="block mb-2">Email</label>
        <input type="email" name="email" required class="outline-none rounded-full px-3 py-2 bg-neutral-100 w-full">
    </div>
    <div class="mt-6 flex justify-center">
        <button type="submit" class="px-6 py-3 bg-yellow-400 hover:bg-yellow-300 rounded-full">Get Reset Password Link</button>
    </div>
</form>
{% endblock %}
<!-- End of Form Block -->