{% extends "Base/BaseForAccountRelatedForms.html" %}



<!-- Page Title -->
{% block title %} Reset Your Account Password | BetterBuy {% endblock %}
<!-- End of Page Title -->


{% block heading %}Reset Your Account Password{% endblock %}


<!-- Form Block -->
{% block form-body %}
<form action="{% url 'ResetPassword' %}" method="post" class="flex flex-col gap-2">{% csrf_token %}    
    <input type="hidden" name="email" value="{{user.email}}">
    <input type="hidden" name="token" value="{{user.reset_password_token}}">
    <div>
        <label for="password" class="block mb-2">Password</label>
        <input type="password" name="password" required class="outline-none rounded-full px-3 py-2 bg-neutral-100 w-full">
    </div>
    <div>
        <label for="confirm-password" class="block mb-2">Confirm Password</label>
        <input type="password" name="confirm-password" required class="outline-none rounded-full px-3 py-2 bg-neutral-100 w-full">
    </div>
    <div>
    <div class="mt-6 flex justify-center">
        <button type="submit" class="px-6 py-3 bg-yellow-400 hover:bg-yellow-300 rounded-full">Reset My Password</button>
    </div>
</form>
{% endblock %}
<!-- End of Form Block -->